#ignore all
*

#except for .cpp and .h files
# and .gitignore
!*.cpp
!*.h
!*.gitignore

!/src/
/src/*
!/src/*.cpp
!/src/*.h

!/inc/
/inc/*
!/inc/*.cpp
!/inc/*.h

!/misc/
!/misc/*

!/samples/
/samples/*
!/samples/*.jack

!/samples/libs
/samples/libs/*
!samples/libs/*.jack

!Makefile

